   <head>
      <meta charset="UTF-8">
      <meta name="description" content="PWA made with Spotify API">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <script src="/js/bundle.js" async></script>
      <title>{{ title }}</title>
   </head>