
   <section>
      <section>
         {{#each data}}
         <div>
            <h2>{{this.track.name}}</h2>
            <p>{{this.track.artist}}</p>
            <p>{{this.track.duration}}</p>
         </div>
         {{/each}}
      </section>
   </section>
