
<main>
   <section class="login-container">
      <img src="/icons/icon-72x72.png" alt="Playlist cover">
      <h2>Log in to your Spotify account</h2>
      <a href="/redirect">Log in</a>
   </section>
</main>
