<body>
   <div class="item-container">
      {{#each data}}
      <div id="playlist-item">
         <a href="/detail/{{this.id}}">
            <img src="{{this.images.1.url}}" alt="Playlist cover">
            <h2>{{this.name}}</h2>
            <p>van {{this.owner.display_name}}</p>
         </a>
      </div>
      {{/each}}
   </div>
</body>