.message-container {
	display: flex;
	flex-direction: column;
	padding: 30px;
	background-color: #191919;
	width: 17em;
	height: 12em;
	border-radius: var(--border-radius);
	margin: var(--base-spacing);
}

.message-container:hover {
	background-color: var(--hover);
	background: linear-gradient(#191919, #131313);
}
